<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>

    <h1>
        {{ post.title }}
    </h1>
    <p>
        {{ post.text }}
    </p>

    <h2> Comments </h2>
    {% for comment in comments %}
    <div class="comment">
        <p> {{ comment.text }} </p>
        {% for answer in answers %}
        {% if answer.comment == comment %}
        <div class="answer">
            <p> ->{{ answer.text }} </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</body>
</html>